body{
    background-color: #DD905B;
    font-family: 'Playfair Display', serif;
    margin: 0;
}
img{
    width: 100%;
}
h1{
    font-family: 'dancing script', cursive;
    display: flex;
    font-size: 21pt;
    color: #be723b;
}
header{
    background-color: #FFFCBB;
    display: flex;
    align-items: flex-start;
}
header img{
    width: 7rem;
    display: flex;
}
.menu{
    position: absolute;
    background-color: #4F604C;
    color: #FFFCBB;
    padding: 1rem;
    right: 3%;
    top: 20px;
}
.menu:hover{
    background-color: #2c352b;
}
nav{
    position: absolute;
    right: 2%;
    top: 13%;
    display: none;
}
nav a{
    display: block;
    background-color: #4F604C;
    color: #FFFCBB;
    text-decoration: none;
    border: .25px solid #FFFCBB;
    padding: 1rem 2rem;
}
nav a:hover{
    background-color: #2c352b;
}
.show{
    display: block;
}
.flower-stand img{
    width: 85%;
    margin: 1.5rem;
    align-content: center;
}
section{
    background-color: #4F604C;
    color: #FFFCBB;
    margin: 1.5rem;
    padding: 1rem;
}
.who-are-we img{
    width: 40%;
    display: flex;
    align-content: center;
    margin: .5rem;
}
.who-are-we{
    display: flex;
    align-content: center;
}
.who-are-we p{
    margin: .5rem;
    text-align: center;
    margin-top: 3rem;
}
.who{
    font-family: 'dancing script', cursive;
    font-size: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
}
.intro-images img{
    width: 60%;
    margin-left: 20%;
}
h3{
    font-family: 'dancing script', cursive;
    text-decoration: none;
    color: #FFFCBB;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #FFFCBB;
}
footer{
    background-color: #FFFCBB;
    font-size: .5rem;
    display: flex;
    text-align: center;
}
.social img{
    width: 15%;
}
.location{
    width: 100%;
    margin: 1.5rem;
}
h4{
    font-size: 1rem;
    font-family: 'dancing script', cursive;
}
h2{
    font-family: 'dancing script', cursive;
    font-size: 2rem;
    text-align: center;
}
.our-story{
    text-align: center;
}
.wedding{
    text-align: center;
    color: #2c352b;
}
.centerpiece, .Bridal-bouquet, .Corsage{
    width: 60%;
    margin: 1rem;
}
.event-images{
    background-color: unset;
}
.button{
    padding: .25rem;
    background-color: #FFFCBB;
    color: #3c493a;
    margin: .15rem;
    justify-content: space-between;
}
.phone-email{
    display: flex;
    justify-content: space-between;
}
.info p{
    text-align: center;
}
.flower-sub p{
    text-align: center;
}
.succulent p{
    text-align: center;
}
.dahlia p{
    text-align: center;
}
.contact-image{
    text-align: center;
}
form{
    background-color: #3c493a;
    padding: 1rem;
}
textarea{
    height: 5rem;
    width: 96%;
    font-family: "playfair display", serif;
    color: #4F604C;
}
label, input[type=text], [type=email], [type=tel], textarea{
    display: block;
    margin: .5rem 0;
}
input[type=text], [type=email],[type=tel], textarea{
    width: 95%;
    font-size: 1rem;
}
.submit{
    font-family: 'playfair display', serif;
    border: 1pt solid #2c352b;
    padding: .5rem 1rem;
    background-color: #FFFCBB;
    color: #4F604C;
    margin: auto 38% auto;
    font-size: 1rem;
}
.button:hover{
    background-color: #faf59e;
}
.wedding-p{
    text-align: center;
    color: #2c352b;
    justify-content: center;
    font-size: 1.2rem;
    margin: 2rem;
}
@media (min-width:1100px){
    .menu{
        display: none;
    }
    nav{
        position: absolute;
        display: block;
        top: 60px;
    }
    nav a{
        display: inline-block;
        padding: .5rem;
        margin: .2rem;
    }
    nav a:hover{
        background-color: #2c352b;
    }
    header img{
        width: 9rem;
    }
    header{
        position: relative;
    }
    .flower-stand img{
        width: 70%;
    }
    .flower-stand{
        display: flex;
        justify-content: center;
    }
    .who-are-we img{
        margin-left: 3rem;
    }
    .who-are-we p{
        margin-right: 8rem;
        align-content: center;
        margin-top: 8rem;
        margin-left: 2rem;
        text-align: center;
    }
    .centerpiece, .Bridal-bouquet, .Corsage{
        width: 31%;
        margin: 1rem;
    }
    p{
        font-size: 1.25rem;
    }
    .who{
        font-size: 3rem;
    }
    .intro-images{
        display: flex;
    }
    .events img{
        width: 350px; 
        margin: .5rem;
    }
    .home-shop img{
        width: 300px;
        margin: .5rem;
    }
    .home-subs img{
        width: 300px;
        margin: .5rem;
    }
    .location img{
        margin-top: 1.5rem;
        margin-right: 0;
        width: 400px;
    }
    footer{
        font-size: .80rem;
    }
   h4{
       font-size: 1.75rem;
   }
   .our-story{
       display: flex;
   }
   .our-story img{
       width: 50%;
   }
   .our-story p{
       margin-top: 6rem;
       margin-left: .5rem;
   }
   h2{
       font-size: 2.5rem;
   }
   .event-images{
       display: flex;
   }
   .centerpiece img{
       margin: .5rem;
   }
   .Bridal-bouquet{
    margin: .5rem;
    }
    .phone-email{
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .succ{
        display: flex;
    }
    .dahl{
        display: flex;
    }
    .succulent img{
        width: 50%;
        margin-left: 25%;
    }
    .dahlia img{
        width: 50%;
        margin-left: 25%;
    }
    .dahlia p{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .succulent p{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .contact-image img{
        width: 300px;
        margin-bottom: 2rem;
    }
    .contact-image{
        display: flex;
    }
    .contact-image p{
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 8rem;
    }
    form{
        margin: 5rem;
    }
    .submit{
        margin-left: 42%;
    }
   .flower-sub{
       display: flex;
   }
   .six-week img{
       width: 110%;
   }
   .six-week{
       margin: 2rem;
       margin-left: 5rem;
   }
   .ten-week{
       margin: 2rem;
   }
   .ten{
       margin-left: 6rem;
   }
   .ten-week img{
       width: 70%;
   }
    .flower-bulb{
        display: flex;
    }
    .premade{
        margin: .5rem;
    }
    .custom{
        margin: .5rem;
    }
    .bulbs{
        margin: .5rem;
    }
}
@media (min-width: 1200px){
    .intro-images{
        justify-content: space-between;
    }
    .six-week img{
        margin-left: 2rem;
    }
    .sixp{
        margin-left: 5rem;
    }
}